@font-face {
    font-family: 'Figtree';
    src: url('/figtree-latin-wght-normal.woff2') format('woff2');
    font-style: normal;
    font-weight: 300 900;
    font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
